<div class = "container-fluid">
  <h1 class = "text-center">Welcome to the Sparkles Wallet</h1>
  <p class = "text-center">What would you like to do?</p>

  <p>Connected: {{connected}}</p>

  <button *ngIf = "connected" (click) = "disconnectWallet()" class = "btn btn-danger btn-block">Disconnect</button>
  <button *ngIf = "!connected" (click) = "connectWallet()" class = "btn btn-success btn-block">Connect</button>

  <button [disabled] = "!connected" (click) = "sendTransaction()" class = "btn btn-primary btn-block">Send Transaction</button>

</div>
